<div class="date-range-picker" [class.one-line]="oneLine">
    <div class="form-group">
        <p *ngIf="!oneLine">{{ 'common.From' | translate }}</p>
        <my-date-picker
                required
                name="2"
                [locale]="langService.getCurrentLang()"
                [options]="fromDateOptions"
                (dateChanged)="onFromDateChange($event)"
                [placeholder]="formatDate(fromDate) || 'common.optional' | translate"
        >
        </my-date-picker>
    </div>
    <div class="date-middle">
        <span *ngIf="oneLine">{{ 'common.To' | translate }}</span>
    </div>
    <div class="form-group">
        <p *ngIf="!oneLine">{{ 'common.To' | translate }}</p>
        <my-date-picker
                required
                name="1"
                [locale]="langService.getCurrentLang()"
                [options]="toDateOptions"
                (dateChanged)="onToDateChange($event)"
                [placeholder]="formatDate(toDate) || 'common.optional' | translate"
        >
        </my-date-picker>
    </div>
</div>